.checkbox-custom {
    filter: drop-shadow(0px 4px 120px rgba(175, 173, 181, 0.15));
    width: 40px;
    height: 40px;
    position: absolute;
}


.checkbox-custom:focus {
    border: 1px solid #518581;
    outline: 1px solid #518581;
}

.checkbox-custom:checked{
    background-color: #61aba5;
}

.checkbox-custom:disabled {
    opacity: 0.7;
}


check {
    position: absolute;
    margin: 4px 10px 7px 6px;

    transform: matrix(0.71, -0.69, 0.73, 0.71, 0, 0);
}