.card {
    width: 360px;
    font-family: 'Eudoxus Sans', sans-serif;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card:hover{
    opacity: 80%;
}

.card__img {
    width: 360px;
    height: 360px;
    object-fit: contain;
    object-position: center;
}

.card__category {
    font-weight: 700;
    font-size: 18px;
    line-height: 130%;
    color: #AFADB5;
}

.card__title {
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.card__subtitle {
    font-weight: 500;
    font-size: 18px;
    color: #AFADB5;
}

.card__price {
    font-weight: 700;
    font-size: 24px;
    color: black;
}