@import "styles/colors";
@import "styles/texts";

.card {
    width: 360px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.card:hover{
    opacity: 80%;
}

.card__img {
    width: 360px;
    height: 360px;
    object-fit: contain;
    object-position: center;
    margin-bottom: 2px;
}

.card__category {
    @include p-text;
    color: $secondary-gray;
    margin-bottom: 2px;
}

.card__title {
    @include bold-text;
    font-size: 26px;
    color: $primary-black;

    margin-bottom: 2px;

}

.card__subtitle {
    @include p-text;
    color: $secondary-gray;

    margin-bottom: 2px;

}

.card__price {
    @include bold-text;
    font-size: 24px;
    color: $primary-black;

    margin-bottom: 6px;

}