@import "styles/colors";
@import "styles/texts";

.footer{
  height: 120px;
  border-top: 2px solid $secondary-gray;
  color: $additional-lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}


.footer_img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 10px;
}

