@import "styles/colors.scss";
@import "styles/texts.scss";

.input_custom {
    @include p-text;
    color: $secondary-gray;
    border: transparent;
    padding: 0 26px;
}

.input_custom:focus {
    border: transparent;
    outline: transparent;
}

.input_custom:disabled {
    opacity: 0.7;
}

.searchbar{
    margin-left: 10px;
    width: 1020px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;     /*Центрирование по вертикали */
    background-color: $primary-white;
    box-shadow: 0 4px 12px $shadow-color;
}

.searchbar:focus-within{
    border: transparent;
    outline: 1px solid $primary-green;
}

.searchbar_img{
    width: 24px;
    padding: 25px 12px 25px 25px;
    background-color: $primary-white;
}

.searchbar_input{
    width: 720px;
}

.searchbar_btn_wrapper{
    padding: 13.3px 26px;
    background-color: $primary-white;
}