.product__display{
  margin: auto;
  width: 800px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/

  font-family: 'Eudoxus Sans', SansSerif, serif;
  text-align: left;

  gap: 60px;
}

.product__image{
  width: 600px;
}

.product__name{
  /* Headings/H2 - Bold 44 */
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */

  /* Text Color */
  color: #151411;

}

.product__category{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  /* Paragraph Color */
  color: #AFADB5;

}

.product__description{
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */

  /* Paragraph Color */
  color: #AFADB5;
}

.product__price{
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 130%;
  /* or 57px */

  /* Text Color */
  color: #151411;
}

.product__actions{
  display: flex;
  justify-content: space-between; /*Центрирование по горизонтали*/
  gap: 20px;
}

.product__actions__btn{
  width: 285px;
}

.product__other{
  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 130%;
  /* identical to box height, or 42px */

  letter-spacing: 0.01em;

  text-align: center;

  /* Text Color */
  color: #151411;

}

.product__related{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  /*можно попробовать space-evenly или space-between*/
  align-items: center;     /*Центрирование по вертикали */
  flex-wrap: wrap;
}

.product__loader{
  margin: 200px auto 0;
  display: flex;
  justify-content: space-around;
}