@import "styles/colors.scss";
@import "styles/texts.scss";

.product__page{
  width: 1440px;
  margin: 0 auto;
}

.product__display{
  margin: 0 auto 50px;
  width: 800px;
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  text-align: left;
  gap: 60px;
}

.product__image{
  width: 600px;
}

.product__name{
  @include large-text;
  text-align: left;
}

.product__category{
  @include p-text;
  color: $secondary-gray;

}

.product__description{
  @include p-text;
  color: $secondary-gray;
  margin-bottom: 30px;
}

.product__price{
  @include bold-text;
  font-size: 44px;
  color: $primary-black;
  margin-bottom: 50px;
}

.product__actions{
  display: flex;
  justify-content: space-between; /*Центрирование по горизонтали*/
  gap: 20px;
}

.product__actions__btn{
  width: 285px;
}

.product__other{
  @include bold-text;
  font-size: 32px;
  text-align: start;
  width: 1200px;
  margin: 0 auto;
  color: $primary-black;
  margin-bottom: 30px;
}

.product__related{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


.product__loader{
  margin: 200px auto 0;
  display: flex;
  justify-content: space-around;
}


.product .rating {
  @include bold-text;
  font-size: 20px;
  color: $primary-black;
}

.product .rating .heading {
  @include bold-text;
  font-size: 24px;
  color: $primary-black;
}

.product .rating .info {
  @include p-text;
  font-size: 20px;
  color: $primary-black;
}