$primary-green: #518581;
$primary-black: #151411;
$primary-white: #FFFFFF;
$secondary-gray: #AFADB5;
$additional-lightgray: #F3F3F3;
$disabled-color: #D9D9D9;
$shadow-color: rgba(175, 173, 181, 0.25);