.multidropdown__header {
    display: flex;
    background-color: #D9D9D9;
    border-radius: 0;
    border-color: transparent;
    color: black;
    font-size: 18px;
    font-family: 'Roboto', serif;
    font-weight: 400;
    padding: 26px 62px;
    box-shadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
    min-width: 100px;
    min-height: 100px;
    position: relative;
    margin-bottom: 12px;
}

.multidropdown__header:focus {
    border: 1px solid #518581;
}

.multidropdown__header:disabled {
    opacity: 0.7;
}

.multidropdown__element{
    font-family: 'Roboto', serif;
    font-weight: 400;
    border-radius: 0;
    border-color: transparent;
    display: flex;
    padding-top: 17px;
    padding-bottom: 17px;
    color: #000000;
    font-size: 14px;
    text-align: center;
}

.multidropdown__element_selected{
    color: #518581;
}