.total-wrapper{
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  /*можно попробовать space-evenly или space-between*/
  align-items: center;     /*Центрирование по вертикали */
  gap: 40px;
}

.total-heading{
  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  /* or 32px */
  color: #151411;
  font-size: 28px;
}

.total-value{
  font-size: 18px;
  border-radius: 40%;
  background-color: #AFADB5;
  padding: 5px 15px;

  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  /* or 32px */
  color: #151411;

}