.product__heading {
  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 130%;
  /* or 83px */
  text-align: center;
  color: #151411;
  margin-bottom: 20px;
}

.product__paragraph {
  width: 600px;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 180%;
  /* or 32px */
  text-align: center;
  color: #AFADB5;
  margin-bottom: 80px;
}

.product__search{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between; /*Центрирование по горизонтали*/
  width: 1230px;
}

.product__list{
  margin: 0 auto;
  width: 1200px;
  display: flex;
  justify-content: space-around;
  /*можно попробовать space-evenly или space-between*/
  align-items: center;     /*Центрирование по вертикали */
  flex-wrap: wrap;
}

.product__total_wrapper{
  display: flex;
  justify-content: center; /*Центрирование по горизонтали*/
  /*можно попробовать space-evenly или space-between*/
  align-items: center;     /*Центрирование по вертикали */
  gap: 40px;
}

.product__total_heading{
  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 700;
  line-height: 180%;
  /* or 32px */
  color: #151411;
  font-size: 28px;
}

.product__total_value{
  font-size: 18px;
  border-radius: 40%;
  background-color: #AFADB5;
  padding: 5px 15px;

  font-family: 'Eudoxus Sans', SansSerif, serif;
  font-style: normal;
  font-weight: 500;
  line-height: 180%;
  /* or 32px */
  color: #151411;

}