@import "@styles/colors";

.button_custom {
    display: inline-block; //flex?
    font-size: 18px;
    font-weight: 700;
    font-family: 'Eudoxus Sans', serif;
    line-height: 130%;
    /* or 23px */
    font-style: normal;
    text-align: center;

    padding: 15px 28px;
    gap: 100px;     /* отделял бы лоадер от текста по идее, если поменять дисплей на флексбокс */
    border-color: transparent;
}

.button_color__primary {
    background-color: #518581;
    color: white;
}


.button_color__secondary {
    background-color: white;
    border: 2px solid #F3F3F3;
    color: #151411;
}


.button_custom:hover:enabled {
    opacity: 0.7;
}


.button_custom:disabled {
    background-color: #D9D9D9;
}